@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
	font-family: "Space Grotesk", sans-serif;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
body {
	margin: 0;
	padding: 0;
}
.navbar {
	width: 100%;
	background-color: #f1f7ee;
	height: 10vh;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
  padding-bottom: 60px;
}
.form__input {
	min-height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.input {
	margin: 0 5px;
	width: 50%;
	padding: 10px 15px;
}
.addTodoBtn {
	width: 150px;
	padding: 10px;
	cursor: pointer;
	background-color: #367e18;
	color: #fff;
	border: none;
	outline: none;
	height: 43px;
}
.container {
	width: 100%;
	/* min-height: 100%; */
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
	padding: 10px;
  display: flex;
}

/* Login */

.login__form {
	/* width: 100%;
	height: 100vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.login__form > label {
	margin-bottom: 15px;
}
.login__form > input {
	width: 70%;
	padding: 10px 15px;
	margin-bottom: 15px;
}
.login__form > button {
	background-color: #367e18;
	color: #fff;
	padding: 15px;
	cursor: pointer;
	border: none;
	font-size: 16px;
	outline: none;
	width: 200px;
}

.section-container {
  display: flex;
  margin-top: 10px;
}

.card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-right: 10px;
  background-color: rgba(101, 144, 163, 0.444);
}

.trip-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  width: 70%;
}

.trip-card {
  position:relative;
  background-color: rgba(101, 144, 163, 0.444);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.delete-button-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.delete-trip-button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

.trip-card:hover {
  background-color: #e0e0e0;
}

.add-trip-form {
  margin-top: 20px;
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-trip-form h2 {
  margin-bottom: 1rem;
}

.add-trip-form label {
  display: block;
  margin-bottom: 1rem;
}

.add-trip-form label input[type="text"],
.add-trip-form label input[type="date"],
.add-trip-form label input[type="checkbox"] {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.add-trip-form button[type="submit"] {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-trip-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.add-trip-container {
  width: 25%;
  margin-top: -20px;
}



/* Ideas */
.idea-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
  position: relative;
}

.idea-card h5 {
  font-size: 18px;
  margin-bottom: 8px;
}

.idea-card h6 {
  font-size: 14px;
  color: #888888;
}

.delete-button-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.delete-idea-button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

nav {
  background-color: #f1f7ee;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-right: 10px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: #333;
  font-weight: bold;
}

nav button:hover {
  text-decoration: none;
}

.comment-container {
  position: relative;
}

.comment-link {
  background-color: transparent;
  border: none;
  color: rgb(117, 117, 234);
  text-decoration: underline;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: rgb(201, 176, 176);
  border: 1px solid #ccc;
  padding: 50px;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.delete-comment-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

.comment-card {
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 0.816);
}

.add-comment-container {
  margin-top: 10px;
}

.add-comment-container form {
  display: flex;
}

.add-comment-container input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 5px;
  height: 50px;
}

.add-comment-container button[type="submit"] {
  background-color: rgba(128, 0, 128, 0.875);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.add-section-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-section-container form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.add-section-container input[type="text"] {
  padding: 8px;
  border: 1px solid rgba(128, 128, 128, 0.409);
  border-radius: 3px;
  margin-right: 10px;
  width: 300px;
}

.add-section-container button {
  padding: 8px 16px;
  background-color: #4287f5;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.add-section-container button:hover {
  background-color: #3577e0;
}

.delete-button-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.delete-section-button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

.add-idea-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-idea-container input,
.add-idea-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}

.trip-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.trip-name {
  font-size: 24px;
  font-weight: bold;
  
}

.date-range {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.date-label {
  margin-right: 5px;
}

.date-value {
  font-weight: bold;
  margin-right: 10px;
}

.navbar-brand {
  display: block; 
  margin-right: auto; 
  padding: 0; 
  margin-left: -30px;
  margin-top: -30px;
}